<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rasa and Flask Chatbot Powered by Rohit Roy Padatala</title>

    <style>
    .chat-sign-button {
        width: 50px;
        height: 50px;
        font-size: 27px;
    }</style>
</head>
<body>
<div class= "container">
    <h1>Welcome to Pedestrian Chatbot</h1>
    <button id="chat widget button" type="button" class="btn btn-primary rounded-circle position-fixed chat-sign-button" style= "bottom: 20px; right: 20px;"></button>

    </div>
</body>
</html>